body {
    background-color: #565857;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 23px;

}

#digitalresume {
    max-width: 800px;
    background-color: #BCBDC0;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);

}

header {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #333;

}

header h1 {
    color: #333;

}

.profile-image {
    display: block;
    width: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 23px;
    border: 3px solid #333;

}

hr {
    border-color: #333;
    border-style: double;
    max-width: 800px;

}

.nav {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    max-width: 800px;
    text-align: center;

}

.paragraph {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    max-width: 800px;

}

p {
    margin: 27px;
    text-align: center;

}

.cv-section {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    max-width: 800px;
    max-height: 250px;

}

.links {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    max-width: 800px;
    text-align: center;

}

h2 {
    text-align: center;

}

ul {
    color: #333;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

}

.skills-column {
    float: none;
    position: relative;
    margin-right: 20px;

}

ol li {
color: #333;

}

a {
    color: #734B5E;

}

a:hover {
    color: #F5D3C8;
}

footer {
    text-align: center;

}