body {
    background-color: #565857;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

}

#digitalresume {
    width: 800px;
    background-color: #BCBDC0;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);

}

header {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #333;

}

header h1 {
    color: #333;

}

.profile-image {
    display: block;
    width: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 23px;
    border: 3px solid #333;

}

ul li {
color: #8A8D91;

}

ol li {
color: #8A8D91;

}

a {
    color: #734B5E;

}

a:hover {
    color: #F5D3C8;
}