main {
    background-color: #63625d;
    margin: auto;
    align-self: center;
    width: 100%;
    max-width: 1200px;
}

body {
    background-color: #52514b;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    display: flex;
    justify-content: center;

}

@media (max-width: 900px) {
    body {
        justify-content: flex-start;
        padding: 0px;
    }

}
@media (max-width: 600px) {
    body {
        justify-content: flex-start;
        padding: 0 1px;
    }

}
@media (max-width: 400px) {
    body {
        justify-content: flex-start;
        padding: 0 2px;
    }

}
@media (max-width:600px) { /*Shuts off magnifier by hover on mobile*/
    .profile-image:hover {
        transform: none;
    }

}

#digitalresume {
    max-width: 800px;
    background-color: #BCBDC0;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);

}

/*Header*/
header {
    text-align: center;
    padding: 6px;
    border-bottom: 2px solid #333;
    background-color: #343836;
    font-size: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.profile-image {
    display: block;
    width: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 23px;
    border: 3px solid #333;

}
.profile-image:hover {
    transform: scale(1.7);
}

hr {
    border-color: #333;
    border-style: double;
    max-width: 800px;

}

/*Nav with responsive design*/
.nav {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    margin-top: 6px;
    max-width: 800px;
    text-align: center;    
    float: initial;

}
a:hover {
    background-color: #63625d;
    color: #BCBDC0;
    padding: 3px;
}
@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
    }

}

/*Homepage*/
.paragraph {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    max-width: 800px;
    font-size: 18px;

}
p {
    margin: 27px;
    text-align: center;

}

.cv-section {
    background-color: #BCBDC0;
    font-size: 16px;
    border: 3px solid #333;
    padding: 13px;
    width: auto;

}

/*All headlines*/
h2 {
    text-align: center;
    text-decoration: underline;

}

/*Lists*/
ul {
    color: #333;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;

}
.skills-column {
    float: none;
    position: relative;
    margin-right: 20px;
    font-size: 17px;

}
ol li {
color: #333;

}

/*All links, both nav and bottom of page*/
a {
    color: #734B5E;

}
.links {
    background-color: #BCBDC0;
    border: 3px solid #333;
    padding: 6px;
    max-width: 800px;
    text-align: center;

}
@media screen and (max-width: 600px) {
    .links {
        display: flex;
    }
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    margin: 13px;
    position: relative;
    width: auto;
    font-size: 14px;

}